html {
  font-size: 12px;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
}

h1 {
  margin: 0.5em 0;
}

#sidebar-container iframe {
  width: 300px;
  height: 99%;
  border: 0;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  overflow: auto;
  z-index: 1000;
}


#app {
  margin-left: 1em;
}

#errorMessage {
  color: red;
  display: none;
}

.note {
  font-style: italic;
  font-size: small;
}

div[contenteditable=true] {
  border: 1px solid #ddd;
  padding: 0.5em;
  width: 50%;
  min-height: 5em;
  background: #f8f8f8;
  max-height: 40em;
  overflow: auto;
}

::selection {
  background: #ff0000;
}